.version.blog /* version checker */
{
	color: #000018;
	background-color: #B1B43F;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Oswald_5';
	src: url('../fonts/oswald.light-webfont.eot');
	src: local('☺'), url('../fonts/oswald.light-webfont.woff') format('woff'), url('../fonts/oswald.light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

#page
{
	background-image: none;
	border-width: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	background-color: transparent;
	border-color: #000000;
	width: 100%;
}

#u1600
{
	background-color: #626970;
	position: relative;
	z-index: 2;
}

#u137-5
{
	margin-right: -10000px;
	min-height: 26px;
	margin-top: 27px;
	position: relative;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 601px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 62px;
		padding-bottom: 438px;
		max-width: 960px;
	}

	#u1600
	{
		padding-bottom: 4px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u137-5
	{
		z-index: 23;
		width: 7.72%;
		left: 6.09%;
	}

	#u138-4
	{
		z-index: 3;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 4.03%;
		left: 50.11%;
	}

	#u139-4
	{
		z-index: 7;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 7.07%;
		left: 56.96%;
	}

	#u140-4
	{
		z-index: 11;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 7.4%;
		left: 66.85%;
	}

	#u141-4
	{
		z-index: 15;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 3.59%;
		left: 77.07%;
	}

	#u142-4
	{
		z-index: 19;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 8.59%;
		left: 83.48%;
	}
}

@media (min-width: 321px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 63px;
		padding-bottom: 437px;
		max-width: 600px;
	}

	#u1600
	{
		height: 62px;
		margin-right: -10000px;
		width: 95.84%;
		left: 2.17%;
	}

	#accordionu576
	{
		z-index: 3;
	}

	#u577
	{
		z-index: 4;
	}

	#u580-3
	{
		z-index: 5;
		min-height: 20px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u580-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u580-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u580-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u578
	{
		z-index: 8;
		padding-bottom: 2px;
	}

	#u650
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u650:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u652-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u650:hover #u652-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u643
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u650.MuseMenuActive,#u643:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u645-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u650.MuseMenuActive #u652-4,#u643:hover #u645-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u719
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u643.MuseMenuActive,#u719:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u720-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u643.MuseMenuActive #u645-4,#u719:hover #u720-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u762
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u719.MuseMenuActive,#u762:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u765-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u719.MuseMenuActive #u720-4,#u762:hover #u765-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u804
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u762.MuseMenuActive,#u804:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u804.MuseMenuActive
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u805-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u762.MuseMenuActive #u765-4,#u804:hover #u805-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u804.MuseMenuActive #u805-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u642,#u716,#u759,#u801
	{
		margin-top: 2px;
	}

	#menuu641,#menuu641-bw
	{
		z-index: 9;
		min-height: 178px;
	}

	#accordionu576-bw
	{
		z-index: 3;
		margin-top: 21px;
	}

	#u137-5
	{
		z-index: 40;
		width: 23.84%;
		left: 7.84%;
	}

	#u843
	{
		z-index: 45;
		padding-bottom: 6px;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 5.5%;
		left: 88.67%;
	}

	#u476
	{
		z-index: 46;
		position: relative;
		margin-right: -10000px;
		margin-top: 6px;
		width: 69.7%;
		left: 15.16%;
	}

	#u476_img
	{
		width: 100%;
	}
}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 63px;
		padding-bottom: 437px;
		max-width: 320px;
	}

	#u1600
	{
		height: 62px;
		margin-right: -10000px;
		width: 95.94%;
		left: 2.19%;
	}

	#accordionu576
	{
		z-index: 3;
	}

	#u577
	{
		z-index: 4;
	}

	#u580-3
	{
		z-index: 5;
		min-height: 20px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#u580-3:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u580-3:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u580-3.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 20px;
		margin: 0px 0px 0px 0%;
	}

	#u578
	{
		z-index: 8;
		padding-bottom: 2px;
	}

	#u650
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u650:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u652-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u650:hover #u652-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u643
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u650.MuseMenuActive,#u643:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u645-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u650.MuseMenuActive #u652-4,#u643:hover #u645-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u719
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u643.MuseMenuActive,#u719:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u720-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u643.MuseMenuActive #u645-4,#u719:hover #u720-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u762
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u719.MuseMenuActive,#u762:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u765-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u719.MuseMenuActive #u720-4,#u762:hover #u765-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u804
	{
		min-height: 17px;
		padding-bottom: 17px;
		position: relative;
	}

	#u762.MuseMenuActive,#u804:hover
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u804.MuseMenuActive
	{
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u805-4
	{
		min-height: 17px;
		position: relative;
		top: 8px;
	}

	#u762.MuseMenuActive #u765-4,#u804:hover #u805-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u804.MuseMenuActive #u805-4
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 17px;
		margin: 0px 0px 0px 0%;
	}

	#u642,#u716,#u759,#u801
	{
		margin-top: 2px;
	}

	#menuu641,#menuu641-bw
	{
		z-index: 9;
		min-height: 178px;
	}

	#accordionu576-bw
	{
		z-index: 3;
		margin-top: 21px;
	}

	#u137-5
	{
		z-index: 40;
		width: 23.75%;
		left: 7.82%;
	}

	#u843
	{
		z-index: 45;
		padding-bottom: 6px;
		position: relative;
		margin-right: -10000px;
		margin-top: 24px;
		width: 5.63%;
		left: 88.75%;
	}

	#u476
	{
		z-index: 46;
		position: relative;
		margin-right: -10000px;
		margin-top: 6px;
		width: 66.67%;
		left: 16.67%;
	}

	body
	{
		min-width: 320px;
	}

	#u476_img
	{
		width: 100%;
	}
}

