	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 62px;
		padding-bottom: 438px;
		max-width: 960px;
	}

	#u1600
	{
		padding-bottom: 4px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u137-5
	{
		z-index: 23;
		width: 7.72%;
		left: 6.09%;
	}

	#u138-4
	{
		z-index: 3;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 4.03%;
		left: 50.11%;
	}

	#u139-4
	{
		z-index: 7;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 7.07%;
		left: 56.96%;
	}

	#u140-4
	{
		z-index: 11;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 7.4%;
		left: 66.85%;
	}

	#u141-4
	{
		z-index: 15;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 3.59%;
		left: 77.07%;
	}

	#u142-4
	{
		z-index: 19;
		min-height: 26px;
		position: relative;
		margin-right: -10000px;
		margin-top: 29px;
		width: 8.59%;
		left: 83.48%;
	}

